<!DOCTYPE HTML>
<html>
<head>
<title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Calendar :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="../main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="../css/bootstrap.min.css" rel="stylesheet" type='text/css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- Custom CSS -->
<link href="../css/style.css" rel="stylesheet" type='text/css' />
<link rel="stylesheet" href="../css/morris.css" type="text/css"/>
<link rel="stylesheet" href="../form.css">
<!-- Graph CSS -->
<link href="../css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="../js/jquery-2.1.4.min.js"></script>
<!-- //jQuery -->
<!-- calendar -->
	<link rel="stylesheet" href="../css/monthly.css">

	<!-- //calendar -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="../css/icon-font.min.css" type='text/css' />

<!-- //lined-icons -->
</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
<div class="left-content">
	   <div class="mother-grid-inner">
              <!--header start here-->
				<div class="header-main">
					<div class="logo-w3-agile">
								<h1><a href="index.html">Pooled</a></h1>
							</div>
					<div class="w3layouts-left">
							
							<!--search-box-->
								<div class="w3-search-box">
									<form action="#" method="post">
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="recherche">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="w3layouts-right">
							<div class="profile_details_left"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="images/in11.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="images/in10.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="images/in9.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul>
									</li>
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new notification</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="user_img"><img src="images/in8.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											 </a></li>
											 <li class="odd"><a href="#">
												<div class="user_img"><img src="images/in6.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li><a href="#">
												<div class="user_img"><img src="images/in7.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="#">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 8 pending task</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Database update</span><span class="percentage">40%</span>
													<div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar green" style="width:90%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
													<div class="clearfix"></div>	
												</div>
											   <div class="progress progress-striped active">
													 <div class="bar red" style="width: 33%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
									<div class="clearfix"> </div>
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							
							<div class="clearfix"> </div>				
						</div>
						<div class="profile_details w3l">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	
												<span class="prfil-img"><img src="../images/yo.jpg" alt=""> </span> 
												<div class="user-name">
													<p>ghada belgaroui</p>
													<span>Administrator</span>
												</div>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
		<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Evenement</li>
					<li><a href="afficherevents.php">affichage</a></li>
					
					
				</ol>
<!-- grids -->




	
<form method="POST" action="ajoutEvent.php" style="background-color: white;border-radius: 10px">
  <center>
 	
 	<h1 style="color: FireBrick">Ajouter un Evenement</h1>
<tr>
<td>ID</td>
<td><input  class="form-control" type="number" name="id" id="id" style="border-radius: 10px"  placeholder="id" required ></td>
<span id="missid" class="resultat"></span><br>
</tr>

<tr>
<td>titre</td>
<td><input  class="form-control" type="text" name="nom" id="nom" style="border-radius: 10px" placeholder="titre" required ></td>
<span id="missnom" class="resultat"></span><br>
</tr>

<tr>
<td>Capacite</td>
<td><input  class="form-control"  type="number" id="nbmax" name="nbmax" style="border-radius: 10px" placeholder="Capacite" required ></td>
<span id="missnbmax" class="resultat" ></span><br>
</tr>

<tr>
<td>Date debut</td>
<td><input type="date" class="form-control" name="date" id="date"  style="border-radius: 10px" placeholder="Date"  required></td>
<span  id="missdate"class="resultat"></span><br>
</tr>




<tr>
<td> date fin</td>
<td><input type="date" class="form-control" name="fin" id="fin"style="border-radius: 10px" placeholder="Date fin"  required></td>
<span  id="missfin" class="resultat"></span><br>
</tr>







<tr>
  <td>Description</td>

 
  <td><textarea type="text" class="form-control" aria-label="Description" name="description" style="border-radius: 10px"id="description" placeholder="Description..." required ></textarea></td>
  <span id="missdescription"></span><br>

</tr>
<tr>
<td><input type="file" name="image"></td><br><br>
</tr>

<div class="col-sm-10">
<button class="btn btn-primary" type="submit"  id="ajouter" name="ajouter" value="ajouter"> ajouter </button><br>
</div>

</center>
</form>

		

		
								<!-- //grids -->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2016 Pooled . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>	
<!--COPY rights end here-->
</div>
</div>
  <!--//content-inner-->
		<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span><img src="../images/logo.jpg" alt="" style="width: 27%"></span> </a>
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
										
										
										 <li id="menu-academico" ><a href="inbox.html"><i class="fa fa-envelope nav_icon"></i><span>Inbox</span><div class="clearfix"></div></a></li>
									<li><a href="gallery.html"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Gallery</span><div class="clearfix"></div></a></li>
									<li id="menu-academico" ><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span><div class="clearfix"></div></a></li>
									 <li id="menu-academico" ><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i><span> Short Codes</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="icons.html">Icons</a></li>
											<li id="menu-academico-avaliacoes" ><a href="typography.html">Typography</a></li>
											<li id="menu-academico-avaliacoes" ><a href="faq.html">Faq</a></li>
										  </ul>
										</li>
									<li id="menu-academico" ><a href="errorpage.html"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Error Page</span><div class="clearfix"></div></a></li>
									  <li id="menu-academico" ><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i><span> Marketing</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="button.html">Evenements</a></li>
											<li id="menu-academico-avaliacoes" ><a href="grid.html">Promotions</a></li>
										  </ul>
										</li>
									 <li><a href="tabels.html"><i class="fa fa-table"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
									<li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li>
							       <li id="menu-academico" ><a href="calendar.html"><i class="fa fa-file-text-o"></i>  <span>Evenement</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										 <ul id="menu-academico-sub" >
											<li id="menu-academico-avaliacoes" ><a href="afficherevents.php">Afficher</a></li>
										
                                      </ul></li>
							        <li id="menu-academico" ><a href="signin.html"><i class="fa fa-file-text-o"></i>  <span>Promotions</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										 <ul id="menu-academico-sub" >
											<li id="menu-academico-avaliacoes" ><a href="afficherpromotions.php">Afficher</a></li>
											
										  </ul>
									 </li>
									
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>		
							</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>
<!--js -->
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="../js/bootstrap.min.js"></script>
   <!-- /Bootstrap Core JavaScript -->	   

	<script>


 
  /*******************************************************************/
      var formValid = document.getElementById('ajouter');
      /**************************************************************/
      var nbmax=document.getElementById('nbmax');
      //var desValid = /^[a-zA-ZéèîïÉÈÎÏ][a-zéèêàçîï]+([-'\s][a-zA-ZéèîïÉÈÎÏ][a-zéèêàçîï]+)?$/;
      var missnbmax = document.getElementById('missnbmax');
      formValid.addEventListener('click', validation_nbmax);
       function validation_nbmax(event)
       {
                //Si le champ est vide
                if (nbmax.validity.valueMissing)
                {
                    event.preventDefault();
                    missnbmax.textContent = 'Capacite manquante';
                    missnbmax.style.color = 'red';
                //Si le format de données est incorrect
                }
                else
                { 
                  missnbmax.textContent = 'ok';
                    missnbmax.style.color = 'green';
                }
        }
      /*************************************************************/
      var descritipn=document.getElementById('description');
       
      var missdescription = document.getElementById('missdescription');
      formValid.addEventListener('click', validation_description);
       function validation_description(event)
       {
                //Si le champ est vide
                if (description.validity.valueMissing)
                {
                    event.preventDefault();
                    missdescription.textContent = 'Description manquante';
                    missdescription.style.color = 'red';
                //Si le format de données est incorrect
                }
                else
                { 
                  missdescription.textContent = 'ok';
                  missdescription.style.color = 'green';
                }
        }
      /******************************************************/
      var  nom = document.getElementById('nom');
      var nomValid = /^[a-zA-ZéèîïÉÈÎÏ][a-zéèêàçîï]+([-'\s][a-zA-ZéèîïÉÈÎÏ][a-zéèêàçîï]+)?$/;
      var missnom = document.getElementById('missnom');
      formValid.addEventListener('click', validation);
      function validation(event){
                //Si le champ est vide
                if (nom.validity.valueMissing){
                    event.preventDefault();
                    missnom.textContent = 'titre manquant';
                    missnom.style.color = 'red';
                //Si le format de données est incorrect
                }else if (nomValid.test(nom.value) == false){
                    event.preventDefault();
                    missnom.textContent = 'Format incorrect';
                    missnom.style.color = 'orange';
                }else
                { 
                     missnom.textContent = 'ok';
                    missnom.style.color = 'green';
                }
            }

       /******************************************************************/

      var  date = document.getElementById('date');
     
      var missdate = document.getElementById('missdate');
      formValid.addEventListener('click', validation_date);
      function validation_date(event)
      {
                //Si le champ est vide
                if (date.validity.valueMissing)
                {
                    event.preventDefault();
                    missdate.textContent = 'date manquante';
                    missdate.style.color = 'red';
                //Si le format de données est incorrect
                
                }
                else
                { 
                    missdate.textContent = 'ok';
                    missdate.style.color = 'green';
                }
            }

      /************************************************************/
      var  debut = document.getElementById('debut');
     
      var missdebut = document.getElementById('missdebut');
      formValid.addEventListener('click', validation_debut);
      function validation_debut(event)
      {
                //Si le champ est vide
                if (debut.validity.valueMissing)
                {
                    event.preventDefault();
                    missdebut.textContent = 'date manquante';
                    missdebut.style.color = 'red';
                //Si le format de données est incorrect
                
                }
                else
                { 
                    missdebut.textContent = 'ok';
                    missdebut.style.color = 'green';
                }
            }
        /*********************************************************/
var  fin = document.getElementById('fin');
     
      var missfin = document.getElementById('missfin');
      formValid.addEventListener('click', validation_fin);
      function validation_fin(event)
      {
                //Si le champ est vide
                if (fin.validity.valueMissing)
                {
                    event.preventDefault();
                    missfin.textContent = 'date manquante';
                    missfin.style.color = 'red';
                //Si le format de données est incorrect
                
                }
                else
                { 
                    missfin.textContent = 'ok';
                    missfin.style.color = 'green';
                }
            }
         /************************************************************/
         var  id = document.getElementById('id');
     
      var missid = document.getElementById('missid');
      formValid.addEventListener('click', validation_id);
      function validation_id(event)
      {
                //Si le champ est vide
                if (id.validity.valueMissing)
                {
                    event.preventDefault();
                    missid.textContent = 'date manquante';
                    missid.style.color = 'red';
                //Si le format de données est incorrect
                
                }
                else
                { 
                    missid.textContent = 'ok';
                    missid.style.color = 'green';
                }
            }   
</script>
</body>
</html>
